* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 3vh;
  text-decoration: none;
}

html {
  min-height: 100%;
}
html body {
  color: white;
  min-height: 100%;
  background-color: #55efc4;
  background-image: linear-gradient(315deg, #144e48 15%, #07322e 35%, #011816 64%);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
}
html body main {
  width: 85%;
}
html body main .content {
  width: 95%;
  height: 100%;
  padding: 1vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}
html body main .content header {
  width: 100%;
  text-align: left;
  margin-top: 1vh;
}
html body main .content header p {
  font-size: 5vh;
}
html body main .content header a {
  color: white;
  background-color: #1fa580;
}
html body main .content header form {
  width: 100%;
  margin-bottom: 20px;
}
html body main .content header form input {
  border: 0;
  padding: 0.5vh;
  border-radius: 1vh;
}
html body main .content header form button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #1fa580;
  transition: background-color 500ms ease;
  color: white;
}
html body main .content header form button:hover {
  background-color: #144e48;
  transition: background-color 500ms ease;
  cursor: pointer;
}
html body main .content .split-content {
  display: flex;
}
html body main .content .split-content .movies {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
}
html body main .content .split-content .movies .movie {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 400px;
  margin-bottom: 70px;
}
html body main .content .split-content .movies .movie .view {
  height: 100%;
}
html body main .content .split-content .movies .movie .view img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
html body main .content .split-content .movies .movie span {
  text-align: center;
  padding: 5px 0;
}
html body main .content .split-content .movies .movie .delete {
  background-color: indianred;
  transition: background-color 500ms ease;
  border-radius: 5px;
  padding: 5px;
  color: white;
  text-align: center;
}
html body main .content .split-content .movies .movie .delete:hover {
  background-color: #d24949;
  transition: background-color 500ms ease;
  cursor: pointer;
}
html body main .content .create form label {
  display: inline-block;
  width: 15%;
  padding: 5px;
  margin: 5px 0;
}
html body main .content .create form label[for=description] {
  padding: 20px 5px;
}
html body main .content .create form input, html body main .content .create form textarea {
  float: right;
  display: inline-block;
  width: 80%;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px;
}
html body main .content .create form input:focus::-webkit-input-placeholder, html body main .content .create form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 400ms ease;
}
html body main .content .create form input[type=submit] {
  padding: 5px;
  width: 100%;
  background-color: #1fa580;
  transition: background-color 500ms ease;
  color: white;
  margin-bottom: 250px;
}
html body main .content .create form input[type=submit]:hover {
  background-color: #144e48;
  transition: background-color 500ms ease;
  cursor: pointer;
}
html body main .content .update form label {
  display: inline-block;
  width: 15%;
  padding: 5px;
  margin: 5px 0;
}
html body main .content .update form label[for=description] {
  padding: 20px 5px;
}
html body main .content .update form input, html body main .content .update form textarea {
  float: right;
  display: inline-block;
  width: 80%;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px;
}
html body main .content .update form input:focus::-webkit-input-placeholder, html body main .content .update form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 400ms ease;
}
html body main .content .update form select {
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  margin-left: 10px;
  width: 81.5%;
}
html body main .content .update form input[type=submit] {
  padding: 5px;
  width: 100%;
  background-color: #f4c239;
  transition: background-color 500ms ease;
  color: white;
  margin-bottom: 230px;
}
html body main .content .update form input[type=submit]:hover {
  background-color: #c19622;
  transition: background-color 500ms ease;
  cursor: pointer;
}
html body main .content .view {
  display: flex;
  flex-direction: row;
}
html body main .content .view .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
html body main .content .view .heading header {
  text-align: center;
  padding: 5px;
}
html body main .content .view .heading h3 {
  display: flex;
  justify-content: center;
}
html body main .content .view .heading h3 img {
  border-radius: 5px;
  width: 100%;
  height: 480px;
}
html body main .content .view .heading .rating {
  margin: 5px 0;
  text-align: center;
}
html body main .content .view .heading .update {
  background-color: #f4c239;
  transition: background-color 500ms ease;
  color: white;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}
html body main .content .view .heading .update:hover {
  background-color: #c19622;
  transition: background-color 500ms ease;
  cursor: pointer;
}
html body main .content .view .main {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 20%;
  justify-content: center;
}
html body main .content .view .main h3 {
  width: 70%;
  padding: 5px;
  border: 1px solid #1fa580;
  border-radius: 5px;
  margin: 5px;
}
html body main .content .view .main h3 input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 95%;
  margin-bottom: 5px;
  display: block;
}
html body main .content .view .main h3 button {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  display: block;
  background-color: #1fa580;
  transition: background-color 500ms ease;
  color: white;
}
html body main .content .view .main h3 button:hover {
  background-color: #144e48;
  transition: background-color 500ms ease;
  cursor: pointer;
}
html body main .content .user {
  margin: 10px 0;
  display: flex;
}
html body main .content .user table {
  width: 100%;
  text-align: left;
}
html body main .content .user table thead {
  background-color: #144e48;
}
html body main .content .user table thead tr th {
  border-radius: 5px;
  padding: 5px;
}
html body main .content .user table thead tr th:last-child {
  text-align: center;
}
html body main .content .user table tbody tr td {
  padding: 5px;
}
html body main .content .user table tbody tr form button {
  margin: 2px 0;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
  width: 100%;
}
html body main .content .user table tbody tr form .update {
  background-color: #f4c239;
  transition: background-color 500ms ease;
}
html body main .content .user table tbody tr form .update:hover {
  background-color: #c19622;
  transition: background-color 500ms ease;
  cursor: pointer;
}
html body main .content .user table tbody tr form .delete {
  background-color: indianred;
}
html body main .content footer ul li {
  text-decoration: none;
}
html body .cover {
  background-color: #07322e;
  opacity: 0;
  width: 87%;
  height: 100%;
  position: absolute;
  left: 13%;
  top: 0;
  z-index: 1;
  transition: opacity 0.3s ease 1s, transform 1s ease 2s;
  transform: translateY(-100%);
}
html body .cover .spinner {
  margin: 0px auto;
  margin-top: 25%;
  width: 20px;
  height: 20px;
  text-align: center;
  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear;
}
html body .cover .spinner .dot1, html body .cover .spinner .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 10px;
  background-color: #f4c239;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
html body .cover .spinner .dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
html body nav {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-content: center;
  justify-content: flex-start;
  width: 13%;
  font-size: 0.5vh;
  background-color: #144e48;
  align-items: stretch;
  text-align: center;
}
html body nav ul {
  position: fixed;
  width: 13%;
  list-style: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
html body nav ul .logo h1 {
  cursor: pointer;
  color: #f4c239;
  font-size: 10vh;
  text-shadow: 2px 2px 5px #011816;
  text-align: center;
}
html body nav ul .logo h1:hover {
  transform: rotate(0deg);
  transition-duration: 500ms;
}
html body nav ul li {
  padding: 1vh 0;
  font-size: 2.5vh;
  cursor: pointer;
  transition: background-color 500ms ease;
}
html body nav ul li a {
  color: white;
}
html body nav ul li:hover {
  background-color: #07322e;
  transition: background-color 500ms ease;
}
html body nav ul li:last-child {
  margin-top: auto;
  padding: 0;
}
html body nav ul li:last-child form input {
  width: 100%;
  height: 100%;
  background-color: #144e48;
  border: 0;
  color: white;
  padding: 1vh 0;
  transition: background-color 500ms ease;
  outline: none;
}
html body nav ul li:last-child form input:hover {
  background-color: #f4c239;
  color: #011816;
  transition: background-color 500ms ease;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
