$primary-color: #55efc4;
$primary-dark: #011816;
$secondary-dark: #07322e;
$secondary-dark2: #144e48;
$secondary-color: #1fa580;
$accent-color: #f4c239;

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 3vh;
  text-decoration: none;
}

html {
  min-height: 100%;

  body {
    color: white;
    min-height: 100%;
    background-color: #55efc4;
    background-image: linear-gradient(315deg, #144e48 15%, #07322e 35%, #011816 64%);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;

    main {
      width: 85%;

      .content {
        width: 95%;
        height: 100%;
        padding: 1vh;
        margin: auto;
        display: flex;
        flex-direction: column;

        header {
          width: 100%;
          text-align: left;
          margin-top: 1vh;

          p {
            font-size: 5vh;
          }

          a {
            color: white;
            background-color: #1fa580;
          }

          form {
            width: 100%;
            margin-bottom: 20px;
            input {
              border: 0;
              padding: 0.5vh;
              border-radius: 1vh;
            }
          }
        }

        .split-content {
          display: flex;

          .movies {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
            justify-content: space-evenly;

            .movie {
              display: flex;
              flex-direction: column;
              width: 30%;
              height: 300px;
              margin-bottom: 30px;

              .view {
                height: 100%;

                img {
                  width: 100%;
                  height: 100%;
                }
              }

              .delete {
                background-color: indianred;
                color: white;
                text-align: center;

                &:hover {
                  background-color: #d24949;
                }
              }
            }
          }
        }

        .create {
          form {
            label {
              display: inline-block;
              width: 15%;
              padding: 5px;
              margin: 5px 0;
            }

            label[for=description] {
              padding: 15px 5px;
            }

            input, textarea {
              float: right;
              display: inline-block;
              width: 80%;
              border: none;
              border-radius: 5px;
              margin: 5px 0;
              padding: 5px;
            }

            input[type="submit"] {
              padding: 5px;
              width: 100%;
              background-color: #1fa580;
              color: white;
              margin-bottom: 160px;
            }
          }
        }

        .view {
          display: flex;
          flex-direction: row;

          .heading {
            display: flex;
            flex-direction: column;
          }

          .main {
            display: flex;
            flex-direction: column;
          }
        }

        footer {
          ul {
            li {
              text-decoration: none;
            }
          }
        }
      }
    }

    .cover {
      background-color: #07322e;
      opacity: 0;
      width: 87%;
      height: 100%;
      position: absolute;
      left: 13%;
      top: 0;
      z-index: 1;
      transition: opacity 0.3s ease 1s, transform 1s ease 2s;
      transform: translateY(-100%);

      .spinner {
        margin: 0px auto;
        margin-top: 25%;
        width: 20px;
        height: 20px;
        text-align: center;

        -webkit-animation: sk-rotate 2.0s infinite linear;
        animation: sk-rotate 2.0s infinite linear;

        .dot1, .dot2 {
          width: 60%;
          height: 60%;
          display: inline-block;
          position: absolute;
          top: 10px;
          background-color: #f4c239;
          border-radius: 100%;

          -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
          animation: sk-bounce 2.0s infinite ease-in-out;
        }

        .dot2 {
          top: auto;
          bottom: 0;
          -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
        }
      }

      @-webkit-keyframes sk-rotate {
        100% {
          -webkit-transform: rotate(360deg)
        }
      }

      @keyframes sk-rotate {
        100% {
          transform: rotate(360deg);
          -webkit-transform: rotate(360deg)
        }
      }

      @-webkit-keyframes sk-bounce {
        0%, 100% {
          -webkit-transform: scale(0.0)
        }
        50% {
          -webkit-transform: scale(1.0)
        }
      }

      @keyframes sk-bounce {
        0%, 100% {
          transform: scale(0.0);
          -webkit-transform: scale(0.0);
        }
        50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
        }
      }
    }

    nav {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      align-content: center;
      justify-content: flex-start;
      width: 13%;
      font-size: 0.5vh;
      background-color: #144e48;
      align-items: stretch;
      text-align: center;

      ul {
        position: fixed;
        width: 13%;

        list-style: none;
        min-height: 100vh;
        display: flex;
        flex-direction: column;

        .logo {

          h1 {
            cursor: pointer;
            color: $accent-color;
            font-size: 10vh;
            text-shadow: 2px 2px 5px $primary-dark;
            text-align: center;

            &:hover {
              transform: rotate(0deg);
              transition-duration: 500ms;
            }
          }
        }

        li {
          padding: 1vh 0;
          font-size: 2.5vh;
          cursor: pointer;
          transition: background-color 500ms ease;

          a {
            color: white;
          }

          &:hover {
            background-color: #07322e;
            transition: background-color 500ms ease;
          }

          &:last-child {
            margin-top: auto;
            padding: 0;

            form {
              input {
                width: 100%;
                height: 100%;
                background-color: #144e48;
                border: 0;
                color: white;
                padding: 1vh 0;
                transition: background-color 500ms ease;
                outline: none;

                &:hover {
                  background-color: $accent-color;
                  color: $primary-dark;
                  transition: background-color 500ms ease;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}