* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 3vh;
  text-decoration: none;
}

html {
  height: 100%;
}
html body {
  color: white;
  min-height: 100%;
  background-color: #55efc4;
  background-image: linear-gradient(315deg, #144e48 15%, #07322e 35%, #011816 64%);
  display: flex;
  flex-direction: row;
}
html body main {
  width: 85%;
}
html body main header {
  width: 100%;
}
html body main header p {
  text-align: center;
  margin-top: 1vh;
  font-size: 5vh;
}
html body main footer ul li {
  text-decoration: none;
}
html body nav {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-content: center;
  justify-content: center;
  width: 13%;
  font-size: 0.5vh;
  background-color: #144e48;
  align-items: stretch;
  text-align: center;
}
html body nav ul {
  list-style: none;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
html body nav ul .logo {
  width: 100%;
  color: #f4c239;
}
html body nav ul .logo h1 {
  cursor: pointer;
  color: #f4c239;
  font-size: 10vh;
  text-shadow: 2px 2px 5px #011816;
  text-align: center;
}
html body nav ul .logo h1:hover {
  transform: rotate(0deg);
  transition-duration: 500ms;
}
html body nav ul li {
  padding: 1vh 0;
  font-size: 2.5vh;
  cursor: pointer;
  transition: background-color 500ms ease;
}
html body nav ul li:hover {
  background-color: #07322e;
  transition: background-color 500ms ease;
}
html body nav ul li:last-child {
  margin-top: auto;
  padding: 0;
}
html body nav ul li:last-child form input {
  width: 100%;
  height: 100%;
  background-color: #144e48;
  border: 0;
  color: white;
  padding: 1vh 0;
  transition: background-color 500ms ease;
  outline: none;
}
html body nav ul li:last-child form input:hover {
  background-color: #f4c239;
  color: #011816;
  transition: background-color 500ms ease;
  cursor: pointer;
}

.cover {
background-color: #07322e;
opacity: 0;
width: 87%;
height: 100%;
position: absolute;
left: 13%;
top: 0;
z-index: 1;
transition: opacity 0.3s ease 1s, transform 1s ease 2s;
transform: translateY(-100%);
}

.spinner {
  margin: 0px auto;
  margin-top: 25%;
  width: 60px;
  height: 60px;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 10px;
  background-color: #f4c239;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*# sourceMappingURL=main.css.map */
