* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 3vh;
  text-decoration: none;
}

html {
  height: 100%;
}
html body {
	color: white;
  min-height: 100%;
  background-color: #55efc4;
  background-image: linear-gradient(315deg, #144e48 15%, #07322e 35%, #011816 64%);
  display: flex;
  flex-direction: row;
}

header {
	width: 100%;
}

nav {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	align-content: center;
	justify-content: flex-start;
	width: 10%;
	font-size: 0.5vh;
	background-color: #144e48;
	align-items: stretch;
	text-align: center;
}


nav ul {
	list-style: none;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

nav ul li {
	padding: 1vh 0;
	cursor: pointer;
}

nav ul li:hover {
	background-color: #07322e;
}

nav ul li:last-child {
	margin-top: auto;
	padding: 0px;
}

nav ul li:last-child form input {
	width: 100%;
	height: 100%;
	background-color: #144e48;
	border: 0px;
	color: white;
	padding: 1vh 0;
}

nav ul li:last-child form input:hover{
	background-color: #07322e;
	cursor: pointer;
}

main {
	width: 80%;
}

header p {
	text-align: center;
	margin-top: 1vh
}


footer ul li {
	text-decoration: none;
}
