$primary-color: #55efc4;
$primary-dark: #011816;
$secondary-dark: #07322e;
$secondary-dark2: #144e48;
$secondary-color: #1fa580;
$accent-color: #f4c239;

* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 3vh;
  text-decoration: none;
}

html {
  height: 100%;

  body {
    min-height: 100%;
    background-color: $primary-color;
    background-image: linear-gradient(315deg, $secondary-dark2 15%, $secondary-dark 35%, $primary-dark 64%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container {
      width: 25%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      border-radius: 5px;
      padding: 1vh 1.5vh;
      -webkit-box-shadow: 17px 23px 10px -21px $primary-dark;
      -moz-box-shadow: 17px 23px 10px -21px $primary-dark;
      box-shadow: 17px 23px 10px -21px $primary-dark;
      transition: width 500ms ease;

      &:hover {
        cursor: pointer;
      }

      $small: 300px;
      $medium: 900px;

      @media screen and (max-width: $small) {
        width: 60%;
        transition: width 500ms ease;
      }

      .logo {
        width: 60%;
        margin-bottom: 10px;
        color: $accent-color;

        h1 {
          color: $accent-color;
          text-shadow: 5px 5px 5px $primary-dark;
          font-size: 20vh;
          text-align: center;
          transform: rotate(-15deg);
          transition-duration: 500ms;

          &:hover {
            transform: rotate(0deg);
            transition-duration: 500ms;
          }

          @media screen and (max-width: $small) {
            font-size: 25vh;
            transform: rotate(0deg);
            transition: font-size 500ms ease;
          }
        }

        h6 {
          font-size: 3vh;
          text-align: center;
          text-shadow: 5px 5px 5px $primary-dark;
          transition-duration: 500ms;
        }

        @media screen and (max-width: $small) {
          font-size: 30vh;
          transition: font-size 500ms ease;
        }
      }

      input {
        width: 95%;
        margin: 1vh 0;
        border: 0.2vh solid $secondary-color;
        border-radius: 5px;
        text-align: center;
        padding: 1vh;
        outline: none;
        opacity: 1;
        transition: opacity 400ms ease;

        &:focus::-webkit-input-placeholder  {
          opacity: 0;
          transition: opacity 400ms ease;
        }
      }

      input[type=submit] {
        color: $primary-dark;
        width: 100%;
        border: 0;
        margin: 1vh 0;
        padding: 1.2vh;
        border-radius: 5px;
        background-color: $primary-color;
        font-weight: bold;
        outline: none;
        transition: background-color 500ms ease-out;

        &:hover {
          cursor: pointer;
          background-color: $accent-color;
          transition: background-color 500ms ease-out;
        }
      }
    }
  }
}
